<div class="card mx-auto mt-4 " style="width: 28rem;" id="borderCard">
    <img src="./../../../../assets/img/fotoPerfil.png" class="img-fluid rounded-circle" alt="Foto de Perfil">
    <div class="card-body">
        <h5 class="card-title">Paulo Henrique Morais dos Santos</h5>
        <p class="card-text">Olá! Sou estudante de Analise e Desenvolvimento de Sistemas e também estudo muito por fora da faculdade fazendo bootcamps e aplicando o conhecimento adquirido em projetos próprios.<br><br>
            Tenho um bom conhecimento em Angular 8, sei desenvolver SPA's profissionais e estou buscando uma oportunidade para ingressar no mercado.</p>
    </div>
</div>