<div class="card mx-auto my-4 card-size border-dark border-2" id="borderRadiusCard">
    <img src="./../../../../assets/img/fotoPerfil.png" class="img-fluid rounded-circle" alt="Foto de Perfil">
    <div class="card-body">
        <h5 class="card-title">Paulo Henrique Morais dos Santos</h5>
        <p class="card-text">Olá! Sou estudante de graduação na área de Análise e Desenvolvimento de Sistemas. Busco uma qualificação constante por intermédio do desenvolvimento de atividades extra curriculares, através da participação em bootcamps bem como na aplicação dos conhecimentos adquiridos para realização de projetos próprios.
            <br><br>
            Tenho um bom conhecimento em Angular 8, desenvolvimento  de  SPA's profissionais e estou buscando uma oportunidade para ingressar no mercado de trabalho.</p>
    </div>
</div>