<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container-fluid mt-5 text-center">
        <h1>Analise e Desenvolvimento de Sistemas</h1><br>
        <h3>Uniasselvi</h3><br>
        <h4><strong>Início:</strong> 2020</h4>
        <h4><strong>Conclusão:</strong> 2022</h4>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container-fluid mt-5 text-center">
        <h1>Avanade Angular Developer</h1><br>
        <h3>Digital Inovation One</h3><br>
        <h4><strong>Início:</strong> 2020</h4>
        <h4><strong>Em andamento</strong></h4>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container-fluid mt-5 text-center">
        <h1>Curso Web Moderno Completo com JavaScript 2021 + Projetos</h1><br>
        <h3>Cod3r</h3><br>
        <h4><strong>Início:</strong> 2020</h4>
        <h4><strong>Em andamento</strong></h4>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>